<!DOCTYPE html>
<html>
<head>
    <title>Geekapp</title>
    <%= csrf_meta_tag %>
</head>
<body>

<% if current_user %>
<p>Hey <%= current_user.email %> <a href='/users/sign_out'>Logout</a></p>
<% end %>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
